.taskTitle {
    display: flex;
}

button {
    border: 0;
    transition: 0.3s ease;
}

.btnIco {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width: 18px;
    height: 18px;
    border-radius: 14px;
}

.btnIco:hover {
    cursor: pointer;
}

.btnCheck {
    background-image: url('/src/assets/icons/check_dark.svg');
    margin: 14px 14px 10px 14px;
    opacity: 50%;
}

.btnCheck:hover {
    background-image: url('/src/assets/icons/check_hover.svg');
}

.btnDone {
    background-image: url('/src/assets/icons/done.svg');
    margin: 14px 14px 10px 14px;
}

.btnEdit, .btnDelete {
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 22px;
    opacity: 50%;
}

.btnEdit {
    background-image: url('/src/assets/icons/edit_dark.svg');
    margin: 10px 4px 0px 0px;
}

.btnDelete {
    background-image: url('/src/assets/icons/delete_dark.svg');
    margin: 10px 14px 0px 4px;
}

.btnEdit:hover,
.btnDelete:hover {
    opacity: 100%;
    width: 26px;
    height: 22px;
    border-radius: 14px;
}

.btnEdit:hover {
    background-color: #FFD53F;
}

.btnDelete:hover {
    background-color: #F9B3DC;
}

/* aab4bd */

.btnCheck.dark {
    background-image: url('/src/assets/icons/light/check_light.svg');
}
.btnCheck.dark:hover {
    background-image: url('/src/assets/icons/light/check_hover_light.svg');
}
.btnDone.dark {
    background-image: url('/src/assets/icons/light/done_light.svg');
}
.btnEdit.dark {
    background-image: url('/src/assets/icons/light/edit_light.svg');
}
.btnDelete.dark {
    background-image: url('/src/assets/icons/light/delete_light.svg');
}

.btnEdit.dark:hover {
    background-color: #75693f;
}
.btnDelete.dark:hover {
    background-color: #794262;
}

h5 {
    font-weight: 500;
    font-size: 16px;
    height: 20px;
    margin: 14px 4px 10px 2px;
    width: 100%;
}

p {
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 0 14px;
    flex: 8;
    margin: 0 12px 14px 32px;
}

.task.dark .name,
.task.dark .description {
    color: #aab4bd;
}

.name {
    width: 100%;
    font-size: 16px;
    margin: 14px 4px 10px 2px;
    margin: 14px 4px 8px 2px;
    height: 22px;
    font-weight: 500;
    padding: 0 0 1px 0px;
}

.description {
    margin: 0px 24px 14px 46px;
    flex: 1;
    line-height: 16px;
    padding: 0;
    font-size: 14px;
}

@supports (background: -webkit-named-image(i)) {
    /* Styles for Safari only */
    .description {
        line-height: 17px;
        width: 81%;
        margin-right: 24px;
    }
}