.taskTitle {
    display: flex;
}

button {
    border: 0;
    transition: 0.3s ease;
}

.btnIco {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width: 18px;
    height: 18px;
    border-radius: 14px;
}

.btnIco:hover {
    cursor: pointer;
}

.btnCheck {
    margin: 14px 14px 10px 14px;
    opacity: 50%;
}

.btnCheck.light {
    background-image: url('/src/assets/icons/light_theme/check_dark.svg');
}

.btnCheck.light:hover {
    background-image: url('/src/assets/icons/light_theme/check_hover.svg');
}

.btnCheck.dark {
    background-image: url('/src/assets/icons/dark_theme/check_light.svg');
}

.btnCheck.dark:hover {
    background-image: url('/src/assets/icons/dark_theme/check_hover_light.svg');
}

.btnDone {
    background-image: url('/src/assets/icons/light_theme/done.svg');
    margin: 14px 14px 10px 14px;
}

.btnDone.dark {
    background-image: url('/src/assets/icons/dark_theme/done_light.svg');
}

.btnEdit,
.btnDelete {
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 22px;
    opacity: 50%;
}

.btnEdit {
    margin: 10px 4px 0px 0px;
}

.btnEdit.light {
    background-image: url('/src/assets/icons/light_theme/edit_dark.svg');
}

.btnEdit.dark {
    background-image: url('/src/assets/icons/dark_theme/edit_light.svg');
}

.btnDelete {
    margin: 10px 14px 0px 4px;
}

.btnDelete.light {
    background-image: url('/src/assets/icons/light_theme/delete_dark.svg');
}

.btnDelete.dark {
    background-image: url('/src/assets/icons/dark_theme/delete_light.svg');
}

.btnEdit:hover,
.btnDelete:hover {
    opacity: 100%;
    width: 26px;
    height: 22px;
    border-radius: 14px;
}

.btnEdit.light:hover {
    background-color: #FFD336;
}

.btnDelete.light:hover {
    background-color: #FFA5CB;
}

.btnEdit.dark:hover {
    background-color: #FFC700;
}

.btnDelete.dark:hover {
    background-color: #FF63A4;
}

h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 14px 4px 10px 2px;
    width: 100%;
}

.task p {
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 0 14px;
    flex: 8;
    margin: 0 12px 14px 32px;
}

.name {
    width: 100%;
    font-size: 16px;
    margin: 14px 4px 10px 2px;
    margin: 14px 4px 8px 2px;
    line-height: 20px;
    font-weight: 500;
    padding: 0 0 1px 0px;
}

.description {
    margin: 0px 24px 14px 46px;
    flex: 1;
    line-height: 16px;
    padding: 0;
    font-size: 14px;
}

@supports (background: -webkit-named-image(i)) {

    /* Styles for Safari only */
    .description {
        line-height: 17px;
        width: 81%;
        margin-right: 24px;
    }
}