.container-home {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 56px 0 20px 0;
}

.newBoardSection {
    display: flex;
    flex-direction: column;
    width: 358px;
    max-width: 358px;
    border-radius: 16px;
    padding: 12px 24px 44px 24px;
}

.newBoardSection.light {
    background-color: #DDF5EB;
}

.newBoardSection.dark {
    background-color: #00111E;
}

.newBoardSection>h1 {
    margin-bottom: 18px;
}

.newBoardSection>div {
    border-radius: 8px;
    padding: 16px 12px;
}

.newBoardSection.light>div {
    background-color: #ffffff;
}

.newBoardSection.dark>div {
    background-color: #0B2530;
}

.navigation>.newBoardSection>div>input.boardName {
    margin-top: 0;
    width: 284px;
    font-size: 18px;
    font-weight: 400;
}

.newBoardSection input.boardName.light::placeholder {
    color: #6e6e6e;
}

.newBoardSection>div>button {
    color: #ffffff;
    background-color: #6938ef;
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 8px;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.newBoardSection>div>button:hover {
    background-color: #5925dc;
}

.newBoardSection>div>button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.navigation .boardsList {
    display: flex;
    flex-direction: column;
    width: 358px;
    border-radius: 16px;
    padding: 12px 24px 44px 24px;
}

.navigation .boardsList.light {
    background-color: #EBE9FE;
}

.navigation .boardsList.dark {
    background-color: #0E0E0E;
}

.boardsListItem {
    display: flex;
    margin: 4px 0;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.35s ease;
}

.boardsListItem.light {
    color: #6938EF;
    background-color: #FFFFFF;
}

.boardsListItem.dark {
    color: #A98AFF;
    background-color: #1B2121;
}

.boardsList>h1 {
    margin-bottom: 12px;
}

.boardsList p {
    margin-top: 6px;
    line-height: 150%;
}

.boardsListItem.light:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.boardsListItem.dark:hover {
    background-color: #262C2C;
}

.boardsListItem.light:hover p {
    color: #5925dc;
}

.boardsListItem.dark:hover p {
    color: #A98AFF;
}

.boardsListItem>p {
    text-align: start;
    margin: 0;
    line-height: 150%;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.35s ease;
}

.navigation a {
    text-decoration: none;
}

.copyright {
    text-align: center;
    border-radius: 16px;
    padding: 30px;
}

.copyright.light {
    background-color: #DFF2FF;
}

.copyright.dark {
    background-color: #001A0F;
}

.copyright a {
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease;
}

.copyright.light a {
    color: #6938EF;
}

.copyright.dark a {
    color: #A98AFF;
}

.copyright.light a:hover {
    color: #5925DC;
    border-bottom: 1px solid #7449ec;
}

.copyright.dark a:hover {
    color: #A98AFF;
    border-bottom: 1px solid #A98AFF;
}


@media (max-width: 839px) {

    .navigation>.newBoardSection,
    .navigation>.boardsList,
    .copyright,
    .container-home {
        width: 358px;
    }
}

@media (max-width: 500px) {

    .navigation>.newBoardSection,
    .navigation>.boardsList,
    .copyright,
    .container-home {
        width: 314px;
    }

    .navigation {
        margin-top: 24px
    }

    .navigation>.newBoardSection>div>input.boardName {
        width: 244px;
    }
}