.container_toDo {
    flex: 1;
    background: #eeeeee;
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px 16px;
    max-width: 650px;
    min-width: 380px;
    min-height: 126px;
    transition: 0.4s ease;
}

.container_inProgress {
    flex: 1;
    background: #e2ecf5;
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px 16px;
    max-width: 650px;
    min-width: 380px;
    min-height: 126px;
    transition: 0.4s ease;
}

.container_done {
    flex: 1;
    background: #def2d3;
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px 16px;
    max-width: 650px;
    min-width: 380px;
    min-height: 126px;
    transition: 0.4s ease;
}

.btnEssential {
    font-size: 14px;
    background-image: url('/src/assets/icons/cross.svg');
    background-color: rgb(255, 255, 255, 0.4);
    background-repeat: no-repeat;
    background-position: 26px;
    text-align: left;
    padding: 0 26px 0 52px;
    width: 100%;
    height: 34px;
    border: 0;
    color: #5e5e5e;
    letter-spacing: 1px;
    border-radius: 6px;
    transition: 0.3s ease;
    margin-bottom: 16px;
    margin-top: 2px;
}

.btnEssential:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.8);
    transition: 0.3s ease;
}