.boardName {
    display: flex;
}

input.boardName {
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
    border: 0;
    height: 37px;
    background: transparent;
    margin: 12px 20px 10px 0px;
    padding: 0;
    width: 300px;
}

input.boardName.light {
    color: #181818;
    border-bottom: #a5a5a5 dotted 1px;
}

input.boardName.dark {
    color: #d9e1e7;
    border-bottom: #5f5f5f dotted 1px;
}

input.boardName.light::placeholder {
    color: #717171;
}

input.boardName.dark::placeholder {
    color: rgb(255, 255, 255, 0.4);
}

input.boardName:focus {
    outline: 0;
}

.btnEditBoardName {
    flex: 1;
    width: 36px;
    opacity: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 14px 22px;
    cursor: pointer;
}

.btnEditBoardName.light {
    background-image: url('/src/assets/icons/light_theme/edit_dark.svg');
}

.btnEditBoardName.dark {
    background-image: url('/src/assets/icons/dark_theme/edit_light.svg');
}

.btnDeleteBoard {
    flex: 1;
    width: 50px;
    opacity: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 14px 22px;
    cursor: pointer;
}

div.boardName:hover button.btnEditBoardName {
    opacity: 0.5;
}

div.boardName:hover button.btnEditBoardName:hover {
    opacity: 1;
}

.boardName .tooltip {
    position: relative;
    padding: 8px 8px;
    border-radius: 6px;
    top: 30px;
    opacity: 0;
    font-size: 12px;
    width: max-content;
    visibility: hidden;
    z-index: 1;
    white-space: nowrap;
    transition: opacity 0.25s ease-in-out 1.2s;
}

.boardName .tooltip.light {
    color: #ffffff;
    background-color: #313443;
}

.boardName .tooltip.dark {
    color: #000000;
    background-color: #e1e1e1;
}

.boardName .tooltip:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0px;
    transform: rotate(45deg);
    width: 10px;
    height: 6px;
    background-color: inherit;
    border-radius: 1px;
}

button.btnDeleteBoard:hover .tooltip,
button.btnEditBoardName:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 768px) {

    .boardName h1.light,
    .boardName h1.dark {
        margin-top: 4px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 120px;
    }
}