header {
    height: 64px;
    z-index: 2000;
    border-bottom: 1px solid #dadce0;
    padding: 10px 2% 0 2%;
    display: flex;
    justify-content: space-between;
}

header.light {
    background-color: #ffffff;
    border-bottom: 1px solid #dadce0;
}

header.dark {
    background-color: #1C2022;
    border-bottom: 1px solid #38383b;
}

h1 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    padding: 18px 0 0 0;
}

h1.light {
    color: #181818;
}

span.doubleSlash::before {
    content: "//";
    font-weight: 900;
    font-size: 22px;
    margin-top: 15px;
    margin-right: 6px;
}

span.doubleSlash.light::before {
    color: #6938EF;
}

h1.dark {
    color: #d9e1e7;
}

span.doubleSlash.dark::before {
    color: #6938EF;
}

.doubleSlash {
    display: flex;
}

.headerName {
    display: flex;
}

.board-header-container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 769px) {
    header {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 768px) {

    .headerName h1.light,
    .headerName h1.dark {
        margin-top: 4px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 180px;
    }
}