.container-stats-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 46px 20px;
}

.container-stats-page>.container {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.container-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px 0px;
}

.boardsNavigation {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 6px;
}

.boardsNavigation>button {
    border-radius: 8px;
    padding: 10px 20px;
    color: #6938EF;
    background-color: #f0f0f0;
    cursor: pointer;
}

.boardsNavigation>button.active {
    color: #ffffff;
    background-color: #6938EF;
}

.boardsNavigation>button.active:hover {
    background-color: #5925DC;
}

.boardsNavigation>button:hover {
    background-color: #e9e9e9;
}

section.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 20px;
    padding: 20px 0;
}

section.tabs>div {
    width: 240px;
    height: 154px;
    border-radius: 16px;
    padding: 12px 24px
}

section.tabs>div.total {
    background-color: #EBE9FE;
}

section.tabs>div.done {
    background-color: #DDF5EB;
}

section.tabs>div.toDo {
    background-color: #ECEDF0;
}

section.tabs>div.inProgress {
    background-color: #DFF2FF;
}

.tabs span {
    font-size: 50px;
}


.chart-container {
    width: 800px;
    height: 360px;
}

@media only screen and (max-width: 1490px) {
    .chart-container {
        width: 700px;
    }
}

@media only screen and (max-width: 1385px) {
    .chart-container {
        width: 600px;
    }
}

@media only screen and (max-width: 1281px) {
    .chart-container {
        width: 500px;
    }
}

@media only screen and (max-width: 1176px) {
    .container-stats-page>.container {
        max-width: 500px;
    }
}

@media only screen and (max-width: 638px) {
    .chart-container {
        width: 100%;
    }

    section.tabs>div {
        width: 100%;
    }
}