.sidebar {
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 64px;
    min-height: 100%;
    background-color: #6938EF;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
}

.sidebar.open {
    width: 240px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul .upperNav li {
    margin-top: 10px;
    margin-bottom: 14px;
}

.sidebar ul .upperNav li.homeNav {
    margin-bottom: 30px;
}

.lowerNav {
    margin-top: 16px;
    margin-bottom: 16px;
}

.lowerNav>li.sidebar_toggle {
    margin-top: 30px;
}

.sidebar ul li {
    padding: 14px 0;
    cursor: pointer;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 14px;
    width: 64px;
    position: relative;
    box-sizing: border-box;
    border-left: 2px solid #6938EF;
    transition: border-left 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar.open ul li {
    width: 100%;
}

.sidebar ul li:hover {
    border-left: 2px solid #ffffff;
}

div.upperNav a {
    color: #ffffff;
    text-decoration: none;
}

div.upperNav a:visited {
    color: #ffffff;
}

a.active>li {
    border-left: 2px solid #ffffff;
}

.sidebar ul li.sidebar_toggle:hover {
    border-left: 2px solid #6938EF;
}

.sidebar ul li .tooltip {
    position: absolute;
    background-color: #313443;
    padding: 8px 8px;
    border-radius: 6px;
    left: 64px;
    opacity: 0;
    font-size: 12px;
    width: max-content;
    visibility: hidden;
    z-index: 1;
    white-space: nowrap;
}

.sidebar ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
    translate: 6px 0;
    transition: translate 0.25s ease;
}

.sidebar ul li .tooltip:before {
    content: "";
    position: absolute;
    left: -3px;
    top: 14px;
    transform: rotate(45deg);
    width: 10px;
    height: 6px;
    background-color: inherit;
    border-radius: 1px;
}

span.text {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 164px;
    width: calc(100% - 104px);
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
}

span.text.visible {
    opacity: 1;
    visibility: visible;
}

span.span_id {
    font-size: 7px;
    font-weight: 600;
    position: relative;
    top: 1px;
    left: -31px;
}

.icon {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    width: 22px;
    height: 22px;
    margin-right: 18px;
    margin-left: 18px;
    transition: 0.25s ease;
}

.icon_home {
    background-image: url('/src/assets/icons/home.svg');
}

.icon_stats {
    background-image: url('/src/assets/icons/stats.svg');
}

.icon_board {
    background-image: url('/src/assets/icons/board.svg');
}

.icon_add_board {
    background-image: url('/src/assets/icons/add_board.svg');
}

.icon_close {
    background-image: url('/src/assets/icons/close.svg');
}

.icon_open {
    background-image: url('/src/assets/icons/open.svg');
}