* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #181818;
  font-size: 14px;
  background-color: #ffffff;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  color: #437bce;
  padding: 0 10px;
}

.containerTitle {
  max-width: 750px;
}