@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  color: #181818;
  font-size: 14px;
  background-color: #ffffff;
}

button {
  font-family: Inter;
}