@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
  font-size: 14px;
  transition:
	background-color 0.3s,
	color 0.3s;
}

body.light {
	background-color: #ffffff;
  color: #181818;
}

body.dark {
	background-color: #161a1d;
	color: #aab4bd;
}

button {
  font-family: Inter;
}